
#title-heading {
  background-color: #2E4C6D;
  background-image: url("../img/title-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 7%;
}

.header-panel {
  padding: 7%;
  margin: 0 15%;
  background-color: black;
  opacity: 0.60;
  padding: 7%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

h2 {
  color: #2E4C6D;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    text-align: left;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}
.call-btn {
  padding: 10px;
  margin-top: 5%;
}


#welcome-panel {
  margin: 7% 15%;
  text-align: center;
}

.welcome-text {
  text-align: left;
  line-height: 1.75;
}


#reviews {
  background-color: #ddd;
  padding: 5px;
  text-align: center;
}

.reviews-panel {
  margin: 7% 15%;
}

.review-info {
  text-align: left;
}


.img-logo {
  width: 20%;
  margin-right: 5%;
}

.logos {
  margin: 7% 15%;
}

#footer {
  margin: 7% 15%;
  text-align: center;
}
